<div class="home-page-container">
  <h1 class="header-text">Clinica San Juan de Dios </h1>
  <div class="buttons-container">
    <div class="home-button hvr-grow-shadow">
      <div (click)="goToSelectSpecialist()" class="button-content"> 
        <span class="button-title">Especialistas</span>
        <span class="button-description">Administar y asignar turnos</span>
      </div>
    </div>
    <div class="home-button hvr-grow-shadow">
        <div (click)="goToAllAppointmentsHistory()" class="button-content"> 
          <div class="button-title">Historial</div>
          <div class="button-description">Ver turnos pasados y presentes</div> 
      </div>
  </div>
<div>




