<div class="home-page-container">
  <h1>Bienvenido de nuevo, Usuario</h1>
  <div class="buttons-container">
    <div class="home-button">
      <span (click)="goToSelectSpecialist()" class="button-content"> Buscar especialistas </span>
    </div>
    <div class="home-button">
      <span class="button-content"> Mi calendario </span>
    </div>
    <div class="home-button">
      <span class="button-content"> Mi perfil </span>
    </div>
    <div class="home-button">
        <span (click)="goToAllAppointmentsHistory()" class="button-content"> Historial de turnos </span>
      </div>
  </div>
<div>




