<form class="comment-form">
  <div class="comment-rating-area">
    <star-rating value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="40px" readonly="false"></star-rating>
  </div>
  <div class="comment-text-area">
    <mat-form-field class="comment-text">
      <textarea class="comment-text" matInput placeholder="Deje su comentario acerca del doctor"></textarea>
    </mat-form-field>
  </div>
  <div class="button-sumbit">
  <button mat-raised-button color="primary" class="confirm-comment()">Enviar comentario</button>
  </div>
</form>

