<div class="doctor">
  <div class="doctor-photo" [ngStyle]="{'background-image': 'url(' + doctor.profileUrl + ')'}"  >
  </div>
  <div class="doctor-info">
      <span>Dr. {{doctor.firstname + ' ' + doctor.lastname}} </span>
      <span>Especialidad: {{doctor.speciality}}</span>
  </div>
  <div class="doctor-contact">
    <span>Telefono de contacto: </span>
    <span>{{doctor.phone}}</span>
  </div>
  <div class="buttons">
      <button (click)="requestAppointment()" class="button" mat-raised-button color="primary">Solicitar turno</button>
      <button type="button" class="btn btn-primary button" (click)="goToDoctorSelected()">Ver turnos</button>
  </div>
</div>
