<div class="doctor">
  <div class="doctor-photo" (click)="goToDoctorSelected()" >
  </div>
  <button (click)="goToDoctorSelected()">perfil</button>
  <div class="doctor-info">
      <span>Dr. {{doctor.firstname + ' ' + doctor.lastname}} </span>
      <span>Especialidad: {{doctor.speciality}}</span>
  </div>
  <div class="doctor-contact">
    <span>Telefono de contacto: </span>
    <span>{{doctor.phone}}</span>
  </div>
  <div class="button">
      <button (click)="requestAppointment()" mat-raised-button color="primary">Solicitar turno</button>
  </div>
</div>
