<span class="appointment-history-header">Historial de turnos</span>
<div class="appointment">
    <div class="doctor-info">
        <span>Dr. Juan Perez</span>
        <span class="doctor-info-spec">Especialidad: Traumatologo</span>
    </div>
    <div class="appointment-info">
      <span>Dia: 12/02/2020</span>
      <span>Hora: 15:30</span>
    </div>
    <div class="appointment-review">
      <div>
        <span>Durante el turno se realizo:</span>
        <p>"aca va el comentario"</p>
      </div>
    </div>
    <div class="appointment-comment">
      <button mat-raised-button color="primary" (click)="comment()">Ingresar comentario sobre el doctor</button>
    </div>
  </div>
