.requestAppointment{
  width: 300px;
}
.form-header{
  font-size: 15px;
}
.form-doctor{
  font-size: 20px;
  font-weight: bold;
}
.p-submit{
  display: flex;
  justify-content: center;
}

.modal{
  width: 60%;
}
