<!-- first -->
<h6>Solicitando un turno para el Dr: {{data.doctor.firstname + ' ' + data.doctor.lastname}}</h6>
<mat-horizontal-stepper [linear]="isLinear" #stepper >
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Seleccione un turno</ng-template>

        <h5 class="title">Proximos turnos disponibles</h5>
 <div class="day" *ngIf="nextDay.availableHours">
  <h6>{{nextDay.dateName}} {{nextDay.date}}</h6>
   <div >
    <button type="button" class="appointment btn btn-primary " *ngFor="let hour of nextDay.availableHours"> {{hour}} hs </button>
   </div>
 </div>
<div *ngIf="!nextDay.availableHours">
  <h5>El doctor no tiene turnos disponibles</h5>
</div>
    <div class="next day">
      <div clas="dayname"></div>

    </div>

        <div>
          <h5 class="title">O seleccione una fecha</h5>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" [(ngModel)]="dateSelected"
            (dateChange)="getAppointmentsOnDay()" [ngModelOptions]="{standalone: true}" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div >

            <h6>{{SelectedDay.dateName}} {{SelectedDay.date}}</h6>
            <button type="button" class="appointment btn btn-primary " *ngFor="let hour of SelectedDay.availableHours"> {{hour}} hs </button>
           </div>

        </div>
      <div class="buttons">
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <!-- second -->
  <mat-step [stepControl]="secondFormGroup">
 <div class="stepper">
      <ng-template matStepLabel>Ingrese sus datos</ng-template>
      <div class="form">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput  placeholder="Nombre" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput  placeholder="Apellido" required>
     </mat-form-field>

      <mat-form-field>
        <mat-label>Obra social</mat-label>
        <input matInput  placeholder="Obra social" required>
      </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Telefono</mat-label>
          <span matPrefix>+54 &nbsp;</span>
          <input type="tel" matInput placeholder="221-123-4567">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

    </div>
    </div>
      <div class="buttons">
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>

  </mat-step>
  <mat-step>
   <!-- third -->
    <ng-template matStepLabel>Verifique el codigo</ng-template>
    <div class="codeForm">
    <mat-form-field  class="verificationCode" >
      <mat-label >Ingrese codigo de verificacion</mat-label>
      <input matInput  placeholder="xxxxxx" required>
    </mat-form-field>

    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button (click)="stepper.reset()">Enviar</button>
    </div>
  </div>
  </mat-step>
</mat-horizontal-stepper>

